@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, :root {
    height: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: transparent;
  }
  
  *:hover::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #6c6b6b;
  }

.leaflet-bottom, .leaflet-control, .leaflet-pane, .leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}